
qaml_commandLine.iml
out/production/qaml_commandLine/com/qaml_clase/Person.class
out/production/qaml_commandLine/com/qaml_clase/Main.class
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/project-template.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/description.html
